.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                     "main main main  aside"
                     "main main main  aside"
                     "footer footer footer footer";
    gap: 10px;
    background-color: lightgrey;
    padding: 5px;
    width: 100%;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
.grid-container p {
    text-align: left;
    padding: 15px;
}

.nav-bar{
    grid-area: header;
}
.main-menu{
    grid-area: main ;
}

.side-bar{
    grid-area: aside;

}

.footer{
    grid-area: footer;
}

.side-bar h2{
    text-align: left;
    padding: 15px;
}
.main-menu h2{
    text-align: left;
    padding: 15px;
}
